<div class="canopee-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <p class="box-container">
                <h1 class="h2-like title-background">Contactez nous</h1>
                <p class="mb-24">Nous pouvons vous aider pour vos projets, n’hésitez pas à nous contacter !</p>
                <div class="media">
                    <figure class="media__image">
                        <img src="assets/images/clementine-semete.jpg" alt="Clémentine Sémété" />
                    </figure>
                    <div class="media__content">
                        <p class="bold-text green-text media__title">Agence Paris</p>

                        <p>Clémentine Sémété</p>

                        <p> <a href="tel:06 72 91 01 13">06 72 91 01 13</a> </p>
                        <p><a href="mailto:contact@ateliercanopee.com">contact@ateliercanopee.com</a></p>
                    </div>
                </div>
                
                <div class="media">
                    <figure class="media__image">
                        <img src="assets/images/frederic-gougeon.jpg" alt="Frédéric gougeon" />
                    </figure>
                    <div class="media__content">
                        <p class="bold-text green-text media__title">Agence Annecy – Les Aravis</p>

                        <p>Frédéric Gougeon</p>

                        <p><a href="tel:06 77 77 77 57">06 77 77 77 57</a></p>
                        <p><a href="mailto:contact@ateliercanopee.com">contact@ateliercanopee.com</a></p>
                    </div>
                </div>
                <!--<form (submit)="addContact(contactForm)" #contactForm="ngForm" [hidden]="submitted">-->
                    <!--<div class="form-group form-group&#45;&#45;text">-->
                        <!--<label class="form-group__label" for="name">Nom</label>-->
                        <!--<input type="text" name="name" id="name" autocomplete="off" [(ngModel)]="model.name" class="form-control form-group__input" required #name="ngModel" [ngClass]="{ 'form-group__input&#45;&#45;error': name.invalid && (name.dirty || name.touched)}">-->
                        <!--<div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-group__error">-->
                            <!--<div *ngIf="name.errors.required">-->
                                <!--Le nom est obligatoire-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group form-group&#45;&#45;text">-->
                        <!--<label class="form-group__label" for="email">email</label>-->
                        <!--<input type="email" name="email" id="email" autocomplete="off" [(ngModel)]="model.email" email class="form-control form-group__input" required #email="ngModel" [ngClass]="{ 'form-group__input&#45;&#45;error': email.invalid && (email.dirty || email.touched)}">-->
                        <!--<div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-group__error">-->
                            <!--<div *ngIf="email.errors.required">L'Email est obligatoire.</div>-->
                            <!--<div *ngIf="email.errors.email">L'email n'est pas valide.</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group form-group&#45;&#45;text">-->
                        <!--<label class="form-group__label" for="phone">Téléphone</label>-->
                        <!--<input type="text" name="phone" id="phone" autocomplete="off" [(ngModel)]="model.phone" class="form-control form-group__input">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<textarea name="message" autocomplete="off" id="message" [(ngModel)]="model.message" rows="5" class="form-control" placeholder="Message" required #message="ngModel" [ngClass]="{ 'form-group__input&#45;&#45;error': message.invalid && (message.dirty || message.touched)}"></textarea>-->
                        <!--<div *ngIf="message.invalid && (message.dirty || message.touched)" class="form-group__error">-->
                            <!--<div *ngIf="message.errors.required">Veuillez saisir un message.</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<button [disabled]="!contactForm.form.valid" class="btn btn-primary canopee-btn">Envoyer</button>-->
                    <!--</div>-->
                <!--</form>-->

                <!--<div [hidden]="!submitted" class="contact-message">-->
                    <!--<h2 class="success">Votre message a bien été envoyé</h2>-->

                    <!--<button (click)="gotoHome()" class="btn btn-info">Retour à la page d'accueil</button>-->
                <!--</div>-->

        </div>

    </div>

</div>
