.main {
  margin-top: $headerHeight;
  padding: 3rem 0;
  min-height: calc(100vh - #{$headerHeight} * 1.8);
}

.canopee-container {
  padding-right: $containerHPaddingLg;
  padding-left: $containerHPaddingLg;
  margin: auto;

  &::before,
  &::after {
    content: " ";
    display: table;
    clear: both;
  }

  @media screen and (min-width: 87.5em) {
    max-width: 1400px;
  }

  @media screen and (max-width: 62.5em) {
    padding-right: $containerHPaddingMd;
    padding-left: $containerHPaddingMd;
  }

  @media screen and (max-width: 37.5em) {
    padding-right: $containerHPaddingSm;
    padding-left: $containerHPaddingSm;
  }

  &--floating {
    width: 80rem;
    max-width: calc(100% - 6rem);
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;

    @media screen and (max-width: 32em) {
      max-width: 100%;
    }
  }

  &--orange {
    background: $orange;
  }
}

// Reset properties list
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
