<section class="canopee-container">
    <h2 class="h2-like title-background">Les associés</h2>
    <div class="paragraph">
        <div class="media -flexEnd">
            <figure class="media__image">
                <img src="assets/images/associes.jpg" alt="Clémentine Sémété et Frédéric Gougeon" />
            </figure>
            <div class="media__content">
                <p>
                    Fondée en 2004 par <span class="green-text">Frédéric GOUGEON</span>,<span class="bold-text"> Architecte D.P.L.G</span>
                     diplômé en 2000, l’Atelier Canopée s‘est développé autour de deux compétences&nbsp;: les projets pour le particulier
                      (rénovation et construction) et l’architecture commerciale (aménagement d’espaces ouverts au public,
                       lieux de vente, bureaux, restaurants, constructions de bâtiments solo et duplication).</p>
                       <p>L’atelier Canopée a ainsi conçu plus de 100 projets de rénovation ou extension pour le particulier. 
                           Œuvrant aussi bien pour des appartements au sein de copropriétés que pour des maisons de ville ou isolées,
                            les familles ont su confier leur projet de vie à l’Atelier Canopée et ont été pleinement satisfaites
                             du résultat. 
                        De grandes enseignes ont également fait confiance à l’Atelier Canopée pour leur projet de développement
                         et de déploiement sur le territoire national. L’Atelier Canopée s’est ainsi constitué une sérieuse
                          expérience dans l’accompagnement de projet d’expansion et de création de nouveaux concepts. </p>
            </div>
        </div>
        <p><span class="green-text">Clémentine SEMETE</span>,  Architecte D.E.S.A. diplômée en 2006, a rejoint l’Atelier
            Canopée en 2007 et devient associée en 2010. L’Atelier Canopée a alors élargi ses compétences au logement
            collectif en collaboration avec des promoteurs à échelle humaine, pour des opérations de 30 à 80 logements
            mais également avec des particuliers dans le cadre de valorisation de terrain.</p>
            <p>L’Atelier Canopée est devenu concepteur de plusieurs programmes de logements collectifs et  a assuré
                la maîtrise d’œuvre de réalisation. La collaboration avec des promoteurs permet ainsi d’offrir
                un service complet au Maître d’Ouvrage et un accompagnement pertinent du premier contact jusqu’à
                la fin de la réalisation de l’opération.</p>

        
    </div>
    <div class="paragraph">
        <h2 class="h2-like title-line-after">
            Nos valeurs</h2>

        <p class="nomargin">
            <span class="green-text">«&nbsp;Canopée&nbsp;: étage sommitale de la forêt tropicale humide, qui abrite la majorité des espèces y vivant&nbsp;».</span></p>

        <p>
            Le choix de ce nom pour notre agence d’architecture n’est pas anodin, il représente nos valeurs&nbsp;: notre engagement pour une architecture écologique durable et notre épanouissement professionnel bien enraciné à l’époque de la mondialisation.</p>

        <p>
            Agence d’architecture créée au XXIème siècle, les associés de l’Atelier Canopée ne pouvaient pas ignorer les problématiques climatiques actuelles dans leur conception architecturale. Ainsi, pour chaque projet, parfois d’une manière ponctuelle, souvent dans une démarche globale, nous proposons une approche respectueuse de l’environnement et en adéquation avec les notions d’écologie et de développent durable.</p>

        <p>
            Fort de notre existence depuis plus d’une décennie, nous avons su fidéliser un réseau de partenaires spécialisés, permettant à notre structure de nous enrichir au gré des projets (Bureau d’étude, économistes, etc.). Afin de répondre au mieux aux spécificités de chaque projet, nous constituons une équipe pluridisciplinaire de partenaires, permettant à chacun de s’enrichir des compétences des autres tout en confortant son développement individuel.</p>

        <p>
            Telles les plantes épiphytes des forêts humides, nous tissons des liens avec les autres espèces environnantes permettant un développement réciproque et un essor durable en respectant notre environnement.</p>
    </div>
    <div class="paragraph">
        <h2 class="h2-like title-line-after">
            Nos implantations</h2>

        <p class="nomargin">
            <span class="green-text">Agence de Paris</span></p>

        <p>
            Créé à Paris en 2004, l’Atelier Canopée a conservé son implantation dans le XIVème arrondissement depuis ses débuts. L’agence prend en charge vos projets à Paris, en région Parisienne et dans les secteurs proche de la région parisienne (départements limitrophes).</p>

        <p class="nomargin">
            <span class="green-text">Agence d’Annecy / Les Aravis</span></p>

        <p>
            Récemment implanté au cœur du massif des Aravis, en Haute-Savoie, l’Atelier Canopée vous propose son expérience pour tous vos projets de construction de maisons et chalets, d’architecture commerciale et de rénovations. L’agence intervient à Annecy et dans l’ensemble des communes des Aravis mais également en Haute-Savoie et dans les départements limitrophes.</p>
    </div>
</section>
