<header id="header" class="page-header">
    <button class="page-header__burger" (click)="toggleMenu()">
        <span class="page-header__burger-icon"></span>
    </button>
    <div class="page-header__logo">
        <a routerLink="home" routerLinkActive="home">
            <img src="assets/images/logo-atelier-canopee.jpg" alt="logo atelier canopee" title="logo atelier canopee" />
        </a>
    </div>
    <div class="page-header__nav">
        <a href="#" routerLink="atelier" routerLinkActive="page-header__btn--active" class="page-header__btn">
            <span class="page-header__btn-text">L'atelier</span>
        </a>
        <a routerLink="particulier" routerLinkActive="page-header__btn--active" class="page-header__btn">
            <span class="page-header__btn-text">Particuliers</span>
        </a>
        <a routerLink="commercial" routerLinkActive="page-header__btn--active" class="page-header__btn">
            <span class="page-header__btn-text">Commercial</span>
        </a>
        <a routerLink="collectif" routerLinkActive="page-header__btn--active" class="page-header__btn">
            <span class="page-header__btn-text">Collectifs</span>
        </a>
        <a routerLink="contact" routerLinkActive="page-header__btn--active" class="page-header__btn">
            <span class="page-header__btn-text">Contactez-nous</span>
        </a>

        <a (click)="logout()" class="page-header__btn" *ngIf="isLogged">
            <span class="page-header__btn-text">Déconnexion</span>
        </a>

    </div>
</header>

