<section class="canopee-container">
    <ul class="projects-list">
        <li *ngFor="let project of projects" class="projects-list__item" [ngClass]="{'projects-list__item--vertical': project.imageFormat =='vertical', 'projects-list__item--horizontal': project.imageFormat =='horizontal'}">
            <a [routerLink]="['/' + project.type | lowercase, project.id]" class="projects-list__link">
                <figure class="projects-list__figure">
                    <img src="{{ project.image }}" class="projects-list__image" alt="{{ project.title }}" />
                    <figcaption class="projects-list__figcaption">
                        <span>{{ project.title }}</span>
                    </figcaption>
                </figure>
            </a>
        </li>

    </ul>
</section>
